.navbar-custom {

  background-color: rgba(0.12, 0.21, 0.27,0.7);


}
.navbar-custom .navbar-brand {
  color: #9d9d9d;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #fff;
  background-color: #FCDE64;
}
.navbar-custom .navbar-text {
  color: #9d9d9d;
}
.navbar-custom .navbar-nav > li > a {
  color: #fff; 
  display: block;

}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #000; 
  background-color: #FCDE64;
  position:relative;
  z-index:10; 
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #000; 
  background-color: #FCDE64;
  position:relative;
  z-index:10; 
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #16222E; 
  background-color: #FCDE64;
}
.navbar-custom .navbar-toggle {
  border-color: #333;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #333;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #101010;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #1F3646;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #1F3646;
    background-color: #FCDE64;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #1F3646;
    background-color: #080808;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: #FCDE64;
  }
}
.navbar-custom .navbar-link {
  color: #9d9d9d;
}
.navbar-custom .navbar-link:hover {
  color: #fff;
}
.navbar-custom .btn-link {
  color: #9d9d9d;
}
.navbar-custom .btn-link:hover,
.navbar-custom .btn-link:focus {
  color: #fff;
}
.navbar-custom .btn-link[disabled]:hover,
fieldset[disabled] .navbar-custom .btn-link:hover,
.navbar-custom .btn-link[disabled]:focus,
fieldset[disabled] .navbar-custom .btn-link:focus {
  color: #444;
}